# Verification of Project Outputs
### Project 4 : Data Lakes in Spark

---

In [1]:
from pyspark.sql import SparkSession
import os
import configparser

## Load AWS credentials as env vars

In [2]:
config = configparser.ConfigParser()

# parse config file
config.read('dl.cfg') #Normally this file should be in ~/.aws/credentials

# set environment variables
os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['KEY']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['SECRET']

## Create spark session with hadoop-aws package

In [4]:
spark = SparkSession.builder\
                     .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.5")\
                     .getOrCreate()

---
## Verify Parquet Files

In [11]:
df = spark.read.parquet("analytics/songs/songs.parquet")
df.printSchema()
df.show(5)

root
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- artist_id: string (nullable = true)

+------------------+--------------------+---------+----+------------------+
|           song_id|               title| duration|year|         artist_id|
+------------------+--------------------+---------+----+------------------+
|SOBTCUI12A8AE48B70|Faust: Ballet Mus...| 94.56281|   0|ARSUVLW12454A4C8B8|
|SOVNKJI12A8C13CB0D|Take It To Da Hou...|227.10812|2001|ARWUNH81187FB4A3E0|
|SOYVBGZ12A6D4F92A8|Piano Sonata No. ...|221.70077|   0|ARLRWBW1242077EB29|
|SODBHKO12A58A77F36|Fingers Of Love (...|335.93424|   0|ARKGS2Z1187FB494B5|
|SOGXFIF12A58A78CC4|Hanging On (Mediu...|204.06812|   0|AR5LZJD1187FB4C5E5|
+------------------+--------------------+---------+----+------------------+
only showing top 5 rows

In [12]:
df = spark.read.parquet("analytics/artists/artists.parquet")
df.printSchema()
df.show(5)

root
 |-- artist_id: string (nullable = true)
 |-- artist: string (nullable = true)
 |-- location: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

+------------------+---------------+--------------------+--------+----------+
|         artist_id|         artist|            location|latitude| longitude|
+------------------+---------------+--------------------+--------+----------+
|AR3WWZM1187B996646|Weeping Willows|       Massachusetts|42.18419| -71.71818|
|AR8Y6HV1187FB5546D|     Danny Byrd|                  UK|54.31407|  -2.23001|
|ARBJQTM1187B9B862B|  Cocteau Twins|Grangemouth, Scot...|56.01162|  -3.71947|
|ARBM57Q1187B9AF97C|   James Horner|     Los Angeles, CA|34.05349|-118.24532|
|ARDNS031187B9924F0|     Tim Wilson|             Georgia|32.67828| -83.22295|
+------------------+---------------+--------------------+--------+----------+
only showing top 5 rows

In [13]:
df = spark.read.parquet("analytics/users/users.parquet")
df.printSchema()
df.show(5)

root
 |-- userId: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- lastName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- level: string (nullable = true)

+------+---------+---------+------+-----+
|userId|firstName| lastName|gender|level|
+------+---------+---------+------+-----+
|    88| Mohammad|Rodriguez|     M| free|
|    53|  Celeste| Williams|     F| free|
|    75|   Joseph|Gutierrez|     M| free|
|    60|    Devin|   Larson|     M| free|
|    68|   Jordan|Rodriguez|     F| free|
+------+---------+---------+------+-----+
only showing top 5 rows

In [14]:
df = spark.read.parquet("analytics/time/time.parquet")
df.printSchema()
df.show(5)

root
 |-- start_time: timestamp (nullable = true)
 |-- hour: integer (nullable = true)
 |-- day: integer (nullable = true)
 |-- week: integer (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

+--------------------+----+---+----+----+-----+
|          start_time|hour|day|week|year|month|
+--------------------+----+---+----+----+-----+
|2018-11-15 16:36:...|  16| 15|  46|2018|   11|
|2018-11-15 19:02:...|  19| 15|  46|2018|   11|
|2018-11-21 15:26:...|  15| 21|  47|2018|   11|
|2018-11-21 17:55:...|  17| 21|  47|2018|   11|
|2018-11-21 18:49:...|  18| 21|  47|2018|   11|
+--------------------+----+---+----+----+-----+
only showing top 5 rows

In [15]:
df = spark.read.parquet("analytics/songplays/songplays.parquet")
df.printSchema()
df.show(5)

root
 |-- start_time: timestamp (nullable = true)
 |-- userId: string (nullable = true)
 |-- level: string (nullable = true)
 |-- song_id: string (nullable = true)
 |-- artist_id: string (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- location: string (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- year: integer (nullable = true)
 |-- month: integer (nullable = true)

+--------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+----+-----+
|          start_time|userId|level|           song_id|         artist_id|sessionId|            location|           userAgent|year|month|
+--------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+----+-----+
|2018-11-21 21:56:...|    15| paid|SOZCTXZ12AB0182364|AR5KOSW1187FB35FF4|      818|Chicago-Napervill...|"Mozilla/5.0 (X11...|2018|   11|
|2018-11-05 17:49:...|    73| paid|SOHDWWH12A6D4F7F6A|ARC0IOF1187FB3F6E6|      255|Tampa-St. Petersb...|"Mozilla/5.0 (Mac...|2018|   11|
|2018-11-13 22:39:...|    55| free|SOXQYSC12A6310E908|AR0L04E1187B9AE90C|      415|Minneapolis-St. P...|"Mozilla/5.0 (Mac...|2018|   11|
|2018-11-16 14:21:...|    85| paid|SOLRYQR12A670215BF|ARNLO5S1187B9B80CC|      436|       Red Bluff, CA|"Mozilla/5.0 (Mac...|2018|   11|
|2018-11-20 17:46:...|    49| paid|SOCHRXB12A8AE48069|ARTDQRC1187FB4EFD4|      758|San Francisco-Oak...|Mozilla/5.0 (Wind...|2018|   11|
+--------------------+------+-----+------------------+------------------+---------+--------------------+--------------------+----+-----+
only showing top 5 rows